.list-dress-image {
    margin-top: 4px;
    margin-bottom: 4px;
}

.measurement-heading {
    border: 2px solid #45802A;
    border-radius: 8px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
}