<div class="dts-footer">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6">
                <h2>AZHAR MASTER TAILOR</h2>
                <p>(Mumbai Waale)</p>
                <p>+91-7030409878</p>
                <p>Hameed colony Beed by pass road Aurangaabd, 431001</p>
            </div>
            <div class="col-md-3"></div>

            <div class="col-md-3"></div>
        </div>
        <div class="col-md-12" id="dts-footer-copyright">
            <div class="text-center">&#169; 2021</div>
        </div>
    </div>
</div>