<section class="signin ">
    <div class="container ">
      <div class="row justify-content-center align-items-center" >
        <div class="col-md-6">
          <h2 class="form-title">Sign In</h2>
          <form id="frmSignIn">
            <div class="form-group">
              <label for="txtUserName">User Name / Email / Mobile No</label>
              <input type="text" class="form-control" id="txtUserName" aria-describedby="emailHelp"
                placeholder="Enter User Name">
              <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
            </div>
            <div class="form-group">
              <label for="txtPassword">Password</label>
              <input type="password" class="form-control" id="txtPassword" placeholder="Password">
            </div>
            <div class="form-group">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cbRememberPassword">
                <label class="form-check-label" for="cbRememberPassword">Remember Password</label>
              </div>
            </div>
            <button type="button" class="btn btn-primary" (click)="login()">Sign In</button>
            <!-- <button id="btnClose" type="button" class="btn btn-link " data-dismiss="modal"> Close</button> -->
          </form>
        </div>
        <!-- <div class="col-md-6">
          <div class="signup-image">
            <figure><img src="./../../assets/images/signin-image.jpg" alt="sign in image"></figure>
            <a href="#" routerLink="/signup-component" class="signup-image-link">New User!! Sign Up</a>
          </div>
        </div> -->
      </div>
    </div>
  </section>