
<!-- <div class="row">
    <div class="col-md-12">
        <app-dts-signin></app-dts-signin>
    </div>
</div> -->
    <div class="row">
        <div class="col-md-12">
            <app-dts-header></app-dts-header>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-dts-sign-out class="float-right"></app-dts-sign-out>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-dts-main></app-dts-main>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-dts-footer></app-dts-footer>
        </div>
    </div>
