<!-- data-toggle="modal" data-target="#exampleModalCenter" -->
<div class="row">
    <div class="col-sm-3 " *ngFor="let dress of dressList" (click)="showProductDetail(dress)" data-toggle="modal" data-target="#modalProductDetail" >
        <div class="card product-list">
            <img src="../../assets/image/{{dress.dressImage}}" class="img-thumbnail card-img-dress rounded" alt="dress image">
            <div class="card-body">
                <div class="card-title"><strong>{{dress.customer.firstName}} {{dress.customer.middleName}} {{dress.customer.lastName}}</strong></div>
                <div class="card-title"><strong>{{dress.orderDate | date}}</strong></div>
            </div>
        </div>
    </div>
</div>

<app-dts-product-detail [inputDress]="transferDress"></app-dts-product-detail> 