<!-- <div class="row">
    <div class="col-md-3">
        <app-dts-filter (dressTypeClickedOutputEvent)="dressTypeClicked($event)"></app-dts-filter>
    </div>
    <div class="col-md-9">
        <app-dts-product [filterInput]="childFilterItem"></app-dts-product>
    </div>
</div> -->
<div class="container">
    <div class="row" id="dts-main">
        <div class="col-md-3">
            <app-dts-filter></app-dts-filter>
        </div>
        <div class="col-md-9">
            <app-dts-product></app-dts-product>
        </div>
    </div>
    <!-- <app-dts-product-detail></app-dts-product-detail> -->
</div>